### **Attenzione**!!
Con questo assignment si può raggiungere un massimo di **2 punti**.

# Successione di Fibonacci
Stampa i primi n numeri della successione di Fibonacci.

In [ ]:
n = 10

fib1 = 1
fib2 = 1
succ = [fib1, fib2]
for index in range(2, n):
    fib = fib1 + fib2
    succ.append(fib)
    fib1 = fib2
    fib2 = fib
print(succ)

# Un'altra successione
Scrivere i primi n elementi ($a_n$) di una successione così definita: 
- i primi tre elementi valgono 1, 7, 18.
- i successivi (i>=4) valgono 
$a_n = a_{n-1} + a_{n-3} - a_{n-2} + 2$


Esempio: 1 7 18 14 5 11 22 18 9 15 26 22 13 19 30

In [ ]:
n = 15

n1 = 1
n2 = 7
n3 = 18
succ = [n1, n2, n3]
for i in range(4, n+1):
    a = n3 + n1 - n2 + 2
    succ.append(a)
    n1 = n2
    n2 = n3
    n3 = a
print(succ)

# Triangolo di Tartaglia
Scrivere le prime n righe del triangolo di Tartaglia

In [ ]:
n = 10

print([1])
row = [1, 1]
print(row)
for i in range(2, n+1):
    new = [1]
    for t in range(1, i):
        new.append(row[t-1]+row[t])
    new.append(1)
    row = new
    print(row)