### **Attenzione**!!
Con questo assignment si può raggiungere un massimo di **2 punti**.

# Successione di Fibonacci
Stampa i primi n numeri della successione di Fibonacci.

In [9]:
n = 10

a0 = 1
a1 = 1

for i in range(n):
    if(i==0):
        a0 = 1
        print(a0,end=" ")
    elif(i==1):
        a1 = 1
        print(a1,end=" ")
    else:
        a2 = a1+a0
        a0 = a1
        a1 = a2
        print(a2,end=" ")

1 1 2 3 5 8 13 21 34 55

# Un'altra successione
Scrivere i primi n elementi ($a_n$) di una successione così definita: 
- i primi tre elementi valgono 1, 7, 18.
- i successivi (i>=4) valgono 
$a_n = a_{n-1} + a_{n-3} - a_{n-2} + 2$


Esempio: 1 7 18 14 5 11 22 18 9 15 26 22 13 19 30

In [14]:
n = 15
# 1 7 18 14 5 11 22 18 9 15 26 22 13 19 30

a0,a1,a2 = 1,7,18

print(a0,a1,a2,end=" ")

for i in range(3,n):
    a3 = a2 + a0 - a1 +2
    a0,a1,a2 = a1,a2,a3
    print(a3,end=" ")

1 7 18 14 5 11 22 18 9 15 26 22 13 19 30

# Triangolo di Tartaglia
Scrivere le prime n righe del triangolo di Tartaglia

In [50]:
n = 15

# [1]
# [1, 1]
# [1, 2, 1]
# [1, 3, 3, 1]
# [1, 4, 6, 4, 1]
# [1, 5, 10, 10, 5, 1]
# [1, 6, 15, 20, 15, 6, 1]
# [1, 7, 21, 35, 35, 21, 7, 1]
# [1, 8, 28, 56, 70, 56, 28, 8, 1]
# [1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
# [1, 10, 45, 120, 210, 252, 210, 120, 45, 10, 1]

for i in range(n):
    if(i==0):
        lnew = [1]
    elif(i==1):
        lnew = [1,1]
    
    else:
        lnew = []
        for j in range(i):
            if(j==0 or j == i-1):
                lnew.append(1)
            else:
                lnew.append(lold[j-1] + lold[j])
    print(lnew)
    
    lold = lnew

[1]
[1, 1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
[1, 10, 45, 120, 210, 252, 210, 120, 45, 10, 1]
[1, 11, 55, 165, 330, 462, 462, 330, 165, 55, 11, 1]
[1, 12, 66, 220, 495, 792, 924, 792, 495, 220, 66, 12, 1]
[1, 13, 78, 286, 715, 1287, 1716, 1716, 1287, 715, 286, 78, 13, 1]