### **Attenzione**!!
Con questo assignment si può raggiungere un massimo di **2 punti**.

# Successione di Fibonacci
Stampa i primi n numeri della successione di Fibonacci.

In [16]:
n = 10
x=1; y=1; v=[x,y]
for i in range(1,n-1):
  x,y = y,x+y
  v.append(y)
print(' '.join(str(x) for x in v))

1 1 2 3 5 8 13 21 34 55

# Un'altra successione
Scrivere i primi n elementi ($a_n$) di una successione così definita: 
- i primi tre elementi valgono 1, 7, 18.
- i successivi (i>=4) valgono 
$a_n = a_{n-1} + a_{n-3} - a_{n-2} + 2$


Esempio: 1 7 18 14 5 11 22 18 9 15 26 22 13 19 30

In [15]:
n = 15
x=1; y=7; z=18; v=[x,y,z]
for i in range(1,n-2):
  x,y,z = y,z,z+x-y+2
  v.append(z)
print(' '.join(str(x) for x in v))

1 7 18 14 5 11 22 18 9 15 26 22 13 19 30

# Triangolo di Tartaglia
Scrivere le prime n righe del triangolo di Tartaglia

In [21]:
n = 10
print([1])
vp = [1,1]
for j in range(1,n):
  print(vp)
  v = [1]
  for t in range(1, len(vp)):
      v.append(vp[t-1]+vp[t])
  v.append(1)
  vp = v

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]