### **Attenzione**!!
Con questo assignment si può raggiungere un massimo di **2 punti**.

# Successione di Fibonacci
Stampa i primi n numeri della successione di Fibonacci.

In [2]:
n = 10

seclast = 1
last = 1
print(seclast)
print(last)

i = 3;
while i<=n:
    new = seclast+last
    seclast = last
    last = new
    print(new)
    i += 1

1
1
2
3
5
8
13
21
34
55

# Un'altra successione
Scrivere i primi n elementi ($a_n$) di una successione così definita: 
- i primi tre elementi valgono 1, 7, 18.
- i successivi (i>=4) valgono 
$a_n = a_{n-1} + a_{n-3} - a_{n-2} + 2$


Esempio: 1 7 18 14 5 11 22 18 9 15 26 22 13 19 30

In [4]:
n = 15

succ = [1,7,18]
l = len(succ)

while l<n:
    succ.append(succ[-1]+succ[-3]-succ[-2]+2)
    l = len(succ)

print(succ)

[1, 7, 18, 14, 5, 11, 22, 18, 9, 15, 26, 22, 13, 19, 30]

# Triangolo di Tartaglia
Scrivere le prime n righe del triangolo di Tartaglia

In [23]:
n = 15

riga = [1]
print(riga)
k = 1

while k<n:
    new = [1]
    for i in range(len(riga)):
        try:
            new.append(riga[i] + riga[i+1])
        except:
            new.append(1)
    print(new)
    riga = new
    k += 1

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
[1, 10, 45, 120, 210, 252, 210, 120, 45, 10, 1]
[1, 11, 55, 165, 330, 462, 462, 330, 165, 55, 11, 1]
[1, 12, 66, 220, 495, 792, 924, 792, 495, 220, 66, 12, 1]
[1, 13, 78, 286, 715, 1287, 1716, 1716, 1287, 715, 286, 78, 13, 1]
[1, 14, 91, 364, 1001, 2002, 3003, 3432, 3003, 2002, 1001, 364, 91, 14, 1]

In [44]:
n = 15

riga = [1]
print(riga)

k = 1
while k < n:
    diff = riga.copy()
    diff.insert(0,0)
    riga.append(0)
    for i in range(len(riga)):
        riga[i] = riga[i] + diff[i]
    print(riga)
    k += 1

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
[1, 10, 45, 120, 210, 252, 210, 120, 45, 10, 1]
[1, 11, 55, 165, 330, 462, 462, 330, 165, 55, 11, 1]
[1, 12, 66, 220, 495, 792, 924, 792, 495, 220, 66, 12, 1]
[1, 13, 78, 286, 715, 1287, 1716, 1716, 1287, 715, 286, 78, 13, 1]
[1, 14, 91, 364, 1001, 2002, 3003, 3432, 3003, 2002, 1001, 364, 91, 14, 1]