### **Attenzione**!!
Con questo assignment si può raggiungere un massimo di **2 punti**.

# Successione di Fibonacci
Stampa i primi n numeri della successione di Fibonacci.

In [1]:
n = 18
num = None
if n<1:
    print("Errore")
else:
    temp1 = 1
    temp2 = 1
    for i in range(n):
        if i==0:
            print(temp1)
        elif i==1:
            print(temp2)
        else:
            num=temp1+temp2
            temp1=temp2
            temp2=num
            print(num)
    print("Done")

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
Done

# Un'altra successione
Scrivere i primi n elementi ($a_n$) di una successione così definita: 
- i primi tre elementi valgono 1, 7, 18.
- i successivi (i>=4) valgono 
$a_n = a_{n-1} + a_{n-3} - a_{n-2} + 2$


Esempio: 1 7 18 14 5 11 22 18 9 15 26 22 13 19 30

In [ ]:
n=15;
#n=float(input("Inserisci un numero n: "))
n1 = 1
n2 = 7
n3 = 18
num = None
for i in range(n):
    if i==0:
        print(n1)
    elif i==1:
        print(n2)
    elif i==2:
        print(n3)
    else:
        num=n1-n2+n3+2
        n1=n2
        n2=n3
        n3=num
        print(num)
print("Done")

1
7
18
14
5
11
22
18
9
15
26
22
13
19
30
Done

# Triangolo di Tartaglia
Scrivere le prime n righe del triangolo di Tartaglia

In [ ]:
n = 10
lista1=[1]
for i in range(1,n+1):
    if i==1:
        print(lista1)
    elif i==2:
        lista1.append(1)
        print(lista1)
    else:
        lista2=[1,1]
        for j in range(1,i-1):
            lista2.insert(j,lista1[j-1]+lista1[j])
        print(lista2)
        lista1=lista2
print("Done")

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
Done